openapi: 3.0.0
info:
  version: '2022-09-01'
  title: Cashfree Payment Gateway APIs
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    email: developers@cashfree.com
    name: API Support
    url: https://discord.com/invite/QdZkNSxXsB
  description: Cashfree's Payment Gateway APIs provide developers with a streamlined pathway to integrate advanced payment processing capabilities into their applications, platforms and websites.
servers:
  - url: https://sandbox.cashfree.com/pg
    description: Sandbox server
  - url: https://api.cashfree.com/pg
    description: Production server
tags:
  - name: Orders
    description: Collection of APIs to create, accept payments and refund for an order.
  - name: Payments
    description: Collection of APIs handle payments.
  - name: Refunds
    description: Collection of APIs handle refunds.
  - name: Settlements
    description: Collection of APIs handle settlements.
  - name: Payment Links
    description: Collection of APIs handle payment links.
  - name: Token Vault
    description: Cashfree's token Vault helps you save cards and tokenize them in a PCI complaint manner. We support creation of network tokens which can be used across acquiring banks
  - name: softPOS
    description: softPOS' agent and order management system now supported by APIs
  - name: Offers
    description: Collection of apis to get offers applicable for an order
  - name: EligibilityAPIs
    description: Collection of apis to fetch eligible payment methods for customer and order
  - name: SettlementReconciliation
    description: APIs to get detail list about money settled to your account
  - name: PGReconciliation
    description: Transac1tio1n reconciliation
x-speakeasy-retries:
  strategy: backoff
  backoff:
    initialInterval: 500        # 500 milliseconds
    maxInterval: 60000          # 60 seconds
    maxElapsedTime: 3600000     # 5 minutes
    exponent: 1.5
  statusCodes:
    - 5XX
    - 4XX
  retryConnectionErrors: true
x-speakeasy-name-override:
  - operationId: ^get.*
    methodNameOverride: get
  - operationId: ^create.*
    methodNameOverride: create
  - operationId: ^delete.*
    methodNameOverride: delete
  - operationId: ^fetch.*
    methodNameOverride: fetch
  - operationId: ^order.*
    methodNameOverride: order
  - operationId: ^submit.*
    methodNameOverride: submit
  - operationId: ^cancel.*
    methodNameOverride: cancel
  - operationId: ^capture.*
    methodNameOverride: capture
security:
  - XClientID: []
    XClientSecret: []
  - XClientID: []
    XPartnerAPIKey: []
  - XClientID: []
    XClientSignatureHeader: []
  - XPartnerMerchantID: []
    XPartnerAPIKey: []
components:
  securitySchemes:
    XClientID:
      type: apiKey
      in: header
      name: x-client-id
      description: Client app ID. You can find your app id in the <a href="https://merchant.cashfree.com/merchants/pg/developers/api-keys?env=prod" target="_blank">merchant dashboard</a>.
    XClientSecret:
      type: apiKey
      in: header
      name: x-client-secret
      description: Client secret key. You can find your secret in the <a href="https://merchant.cashfree.com/merchants/pg/developers/api-keys?env=prod" target="_blank">merchant dashboard</a>.
    XClientSignatureHeader:
      type: apiKey
      in: header
      name: x-client-signature
      description: Use this if you do not want to pass the secret key and instead want to use signature
    XPartnerAPIKey:
      type: apiKey
      in: header
      name: x-partner-apikey
      description: If you are partner and you are making an api call on behalf of a merchant
    XPartnerMerchantID:
      type: apiKey
      in: header
      name: x-partner-merchantid
      description: If you are partner use this to specify the merchant id if you don't have the merchant client app id
  schemas:
    AllOffers:
      title: All Offers
      type: object
      description: All offers applicable
    ApiError:
      title: ApiError
      description: Error at cashfree's server
      example:
        message: internal Server Error
        code: internal_error
        type: api_error
      type: object
      properties:
        message:
          type: string
        code:
          type: string
        type:
          type: string
          enum:
            - api_error
          description: api_error
    ApiError404:
      title: ApiError404
      description: Error when resource requested is not found
      example:
        message: something is not found
        code: somethind_not_found
        type: invalid_request_error
      type: object
      properties:
        message:
          type: string
        code:
          type: string
        type:
          type: string
          enum:
            - invalid_request_error
          description: invalid_request_error
    ApiError409:
      title: ApiError409
      example:
        message: order with same id is already present
        code: order_already_exists
        type: invalid_request_error
      type: object
      properties:
        message:
          type: string
        code:
          type: string
        type:
          type: string
          enum:
            - invalid_request_error
          description: invalid_request_error
    ApiError502:
      title: ApiError502
      example:
        message: something is not found
        code: bank_processing_failure
        type: invalid_request_error
      type: object
      properties:
        message:
          type: string
        code:
          type: string
          description: |
            `bank_processing_failure` will be returned here to denote failure at bank.
        type:
          type: string
          enum:
            - api_error
          description: api_error
    App:
      title: App
      example:
        channel: link
        provider: gpay
        phone: '8474090552'
      type: object
      properties:
        channel:
          type: string
          description: Specify the channel through which the payment must be processed.
        provider:
          type: string
          enum:
            - gpay
            - phonepe
            - ola
            - paytm
            - amazon
            - airtel
            - freecharge
            - mobikwik
            - jio
          description: Specify the provider through which the payment must be processed.
        phone:
          type: string
          description: Customer phone number associated with a wallet for payment.
      required:
        - channel
        - provider
        - phone
    AppPaymentMethod:
      title: AppPaymentMethod
      example:
        app:
          channel: link
          provider: gpay
          phone: '8474090552'
      type: object
      properties:
        app:
          $ref: '#/components/schemas/App'
      required:
        - app
    AuthenticationError:
      title: AuthenticationError
      example:
        message: authentication Failed
        code: request_failed
        type: authentication_error
      type: object
      properties:
        message:
          type: string
        code:
          type: string
        type:
          type: string
          description: authentication_error
    AuthorizationInPaymentsEntity:
      title: AuthorizationInPayments
      description: The authorization details are present for payments which go through the preauthorization workflow. Or else this parameter will be null.
      example:
        action: CAPTURE
        status: PENDING
        captured_amount: 100
        start_time: '2022-02-09T18:04:34+05:30'
        end_time: '2022-02-19T18:04:34+05:30'
        approve_by: '2022-02-09T18:04:34+05:30'
        action_reference: '6595231908096894505959'
        action_time: '2022-08-03T16:09:51'
      type: object
      properties:
        action:
          type: string
          enum:
            - CAPTURE
            - VOID
          description: One of CAPTURE or VOID
        status:
          type: string
          enum:
            - SUCCESS
            - PENDING
          description: One of SUCCESS or PENDING
        captured_amount:
          type: number
          description: The captured amount for this authorization request
        start_time:
          type: string
          description: Start time of this authorization hold (only for UPI)
        end_time:
          type: string
          description: End time of this authorization hold (only for UPI)
        approve_by:
          type: string
          description: Approve by time as passed in the authorization request (only for UPI)
        action_reference:
          type: string
          description: 'CAPTURE or VOID reference number based on action '
        action_time:
          type: string
          description: Time of action (CAPTURE or VOID)
    AuthorizationRequest:
      title: AuthorizationRequest
      example:
        action: CAPTURE
        amount: 100
      type: object
      properties:
        action:
          type: string
          enum:
            - CAPTURE
            - VOID
          description: Type of authorization to run. Can be one of 'CAPTURE' , 'VOID'
        amount:
          type: number
          description: The amount if you are running a 'CAPTURE'
    BadRequestError:
      title: BadRequestError
      example:
        message: bad URL, please check API documentation
        code: request_failed
        type: invalid_request_error
      type: object
      properties:
        message:
          type: string
        code:
          type: string
        type:
          type: string
          enum:
            - invalid_request_error
    Card:
      title: Card
      example:
        channel: link
        card_number: '4111111111111111'
        card_holder_name: Tushar Gupta
        card_expiry_mm: '06'
        card_expiry_yy: '22'
        card_cvv: '900'
      type: object
      properties:
        channel:
          type: string
          enum:
            - link
            - post
          description: The channel for card payments can be "link" or "post". Post is used for seamless OTP payments where merchant captures OTP on their own page.
        card_number:
          type: string
          description: Customer card number for plain card transactions. Token pan number for tokenized card transactions.
        card_holder_name:
          type: string
          description: Customer name mentioned on the card.
        card_expiry_mm:
          type: string
          description: Card expiry month for plain card transactions. Token expiry month for tokenized card transactions.
        card_expiry_yy:
          type: string
          description: Card expiry year for plain card transactions. Token expiry year for tokenized card transactions.
        card_cvv:
          type: string
          description: CVV mentioned on the card.
        instrument_id:
          type: string
          description: instrument id of saved card. Required only to make payment using saved instrument.
        cryptogram:
          type: string
          description: cryptogram received from card network. Required only for tokenized card transactions.
        token_requestor_id:
          type: string
          description: TRID issued by card networks. Required only for tokenized card transactions.
        card_display:
          type: string
          description: last 4 digits of original card number. Required only for tokenized card transactions.
        card_alias:
          type: string
          description: Card alias as returned by Cashfree Vault API.
        card_bank_name:
          type: string
          enum:
            - Kotak
            - ICICI
            - RBL
            - BOB
            - Standard Chartered
          description: One of ["Kotak", "ICICI", "RBL", "BOB", "Standard Chartered"]. Card bank name, required for EMI payments. This is the bank user has selected for EMI
        emi_tenure:
          type: integer
          description: EMI tenure selected by the user
          required:
            - channel
            - card_number
            - card_expiry_mm
            - card_expiry_yy
            - card_cvv
    CardArray:
      title: card array
      type: string
      example: dc
    CardEMI:
      title: CardEMI
      example:
        channel: link
        card_number: '4111111111111111'
        card_holder_name: Tushar Gupta
        card_expiry_mm: '06'
        card_expiry_yy: '22'
        card_cvv: '900'
      type: object
      properties:
        channel:
          type: string
          description: The channel for card payments will always be "link"
        card_number:
          type: string
          description: Customer card number.
        card_holder_name:
          type: string
          description: Customer name mentioned on the card.
        card_expiry_mm:
          type: string
          description: Card expiry month.
        card_expiry_yy:
          type: string
          description: Card expiry year.
        card_cvv:
          type: string
          description: CVV mentioned on the card.
        card_alias:
          type: string
          description: Card alias as returned by Cashfree Vault API
        card_bank_name:
          type: string
          enum:
            - hdfc
            - kotak
            - icici
            - rbl
            - bob
            - standard chartered
            - axis
            - au
            - 'yes'
            - sbi
            - fed
            - hsbc
            - citi
            - amex
          description: Card bank name, required for EMI payments. This is the bank user has selected for EMI. One of ["hdfc, "kotak", "icici", "rbl", "bob", "standard chartered", "axis", "au", "yes", "sbi", "fed", "hsbc", "citi", "amex"]
        emi_tenure:
          type: integer
          description: EMI tenure selected by the user
          required:
            - channel
            - card_number
            - card_expiry_mm
            - card_expiry_yy
            - card_cvv
            - card_bank_name
            - emi_tenure
    CardEMIPaymentMethod:
      title: CardEMIPaymentMethod
      example:
        emi:
          channel: link
          card_number: '4111111111111111'
          card_holder_name: Tushar Gupta
          card_expiry_mm: '06'
          card_expiry_yy: '22'
          card_cvv: '900'
          card_bank_name: kotak
          emi_tenure: 3
      type: object
      properties:
        emi:
          $ref: '#/components/schemas/CardEMI'
      required:
        - card
    CardPaymentMethod:
      title: CardPaymentMethod
      description: 'The card payment object is used to make payment using either plain card number, saved card instrument id or using cryptogram '
      example:
        card:
          channel: link
          card_number: '4111111111111111'
          card_holder_name: Tushar Gupta
          card_expiry_mm: '06'
          card_expiry_yy: '22'
          card_cvv: '900'
      type: object
      properties:
        card:
          $ref: '#/components/schemas/Card'
      required:
        - card
    CardlessEMI:
      title: CardlessEMI
      example:
        channel: link
        provider: kotak
        phone: 7768913241
        emi_tenure: 3
      type: object
      properties:
        channel:
          type: string
          description: The channel for cardless EMI is always `link`
        provider:
          type: string
          enum:
            - flexmoney
            - zestmoney
            - hdfc
            - icici
            - cashe
            - idfc
            - kotak
          description: One of [`flexmoney`, `zestmoney`, `hdfc`, `icici`, `cashe`, `idfc`, `kotak`]
        phone:
          type: string
          description: Customers phone number for this payment instrument. If the customer is not eligible you will receive a 400 error with type as 'invalid_request_error' and code as 'invalid_request_error'
        emi_tenure:
          type: integer
          description: EMI tenure for the selected provider. This is mandatory when provider is one of [`hdfc`, `icici`, `cashe`, `idfc`, `kotak`]
    CardlessEMIEntity:
      title: CardlessEMIEntity
      type: object
      properties:
        payment_method:
          type: string
          minLength: 3
          maxLength: 50
          example: idfc
        emi_plans:
          type: array
          items:
            $ref: '#/components/schemas/EMIPlansArray'
    CardlessEMIPaymentMethod:
      title: CardlessEMIPaymentMethod
      example:
        channel: link
        provider: flexmoney
        phone: 781234121
      type: object
      properties:
        cardless_emi:
          $ref: '#/components/schemas/CardlessEMI'
      required:
        - cardless_emi
    CardlessEMIQueries:
      title: QueriesObject
      type: object
      properties:
        order_id:
          type: string
          description: OrderId of the order. Either of `order_id` or `amount` is mandatory.
          minLength: 3
          maxLength: 50
          format: double
          example: order_413462PK1RI1IwYB1X69LgzUQWiSxYDF
        amount:
          type: number
          description: Amount of the order. OrderId of the order. Either of `order_id` or `amount` is mandatory.
          minLength: 3
          maxLength: 100
          example: 100
        customer_details:
          $ref: '#/components/schemas/CustomerDetailsCardlessEMI'
    CashbackDetails:
      title: CashbackDetails
      example:
        cashback_type: percentage
        cashback_value: '20'
        max_cashback_amount: '150'
      type: object
      properties:
        cashback_type:
          type: string
          description: Type of discount
          enum:
            - flat
            - percentage
          minLength: 1
          maxLength: 50
        cashback_value:
          type: string
          description: Value of Discount.
          minLength: 1
          maxLength: 100
        max_cashback_amount:
          type: string
          description: Maximum Value of Cashback allowed.
          minLength: 1
          maxLength: 100
      required:
        - cashback_type
        - cashback_value
        - max_cashback_amount
    CreateLinkRequest:
      title: CreateLinkRequest
      description: Request paramenters for link creation
      example:
        link_amount: 100
        link_currency: INR
        link_minimum_partial_amount: 20
        link_id: my_link_id
        link_partial_payments: true
        customer_details:
          $ref: '#/components/schemas/LinkCustomerDetailsEntity'
        link_expiry_time: '2021-10-14T15:04:05+05:30'
        link_purpose: Payment for PlayStation 11
        link_notify:
          $ref: '#/components/schemas/LinkNotifyEntity'
        link_auto_reminders: true
        link_notes:
          $ref: '#/components/schemas/LinkNotesEntity'
        link_meta:
          $ref: '#/components/schemas/LinkMetaEntity'
      type: object
      properties:
        link_id:
          type: string
          description: Unique Identifier (provided by merchant) for the Link. Alphanumeric and only - and _ allowed (50 character limit). Use this for other link-related APIs.
          maxLength: 50
        link_amount:
          type: number
          format: double
          description: Amount to be collected using this link. Provide upto two decimals for paise.
        link_currency:
          type: string
          description: Currency for the payment link. Default is INR. Contact care@cashfree.com to enable new currencies.
          minLength: 3
          maxLength: 3
        link_purpose:
          type: string
          description: A brief description for which payment must be collected. This is shown to the customer.
          maxLength: 500
        customer_details:
          $ref: '#/components/schemas/LinkCustomerDetailsEntity'
        link_partial_payments:
          type: boolean
          description: If "true", customer can make partial payments for the link.
        link_minimum_partial_amount:
          type: number
          format: double
          description: Minimum amount in first installment that needs to be paid by the customer if partial payments are enabled. This should be less than the link_amount.
        link_expiry_time:
          type: string
          description: Time after which the link expires. Customers will not be able to make the payment beyond the time specified here. You can provide them in a valid ISO 8601 time format. Default is 30 days.
        link_notify:
          $ref: '#/components/schemas/LinkNotifyEntity'
        link_auto_reminders:
          type: boolean
          description: If "true", reminders will be sent to customers for collecting payments.
        link_notes:
          $ref: '#/components/schemas/LinkNotesEntity'
        link_meta:
          $ref: '#/components/schemas/LinkMetaEntity'
      required:
        - link_amount
        - link_currency
        - link_id
        - customer_details
        - link_purpose
    CreateOfferBackendRequest:
      title: CreateOfferBackendRequest
      type: object
      properties:
        offer_meta:
          $ref: '#/components/schemas/OfferMeta'
        offer_tnc:
          $ref: '#/components/schemas/OfferTnc'
        offer_details:
          $ref: '#/components/schemas/OfferDetails'
        offer_validations:
          $ref: '#/components/schemas/OfferValidations'
      required:
        - offer_meta
        - offer_tnc
        - offer_details
        - offer_validations
    CreateOrderBackendRequest:
      title: CreateOrderBackendRequest
      description: Request body to create an order at cashfree
      type: object
      properties:
        order_id:
          type: string
          description: Order identifier present in your system. Alphanumeric, '_' and '-' only
          minLength: 3
          maxLength: 45
        order_amount:
          type: number
          description: Bill amount for the order. Provide upto two decimals. 10.15 means Rs 10 and 15 paisa
          format: double
          example: 10.15
        order_currency:
          type: string
          description: Currency for the order. INR if left empty. Contact care@cashfree.com  to enable new currencies.
          example: INR
        customer_details:
          $ref: '#/components/schemas/CustomerDetails'
        terminal:
          $ref: '#/components/schemas/TerminalDetails'
        order_meta:
          $ref: '#/components/schemas/OrderMeta'
        order_expiry_time:
          type: string
          format: ISO8601
          description: Time after which the order expires. Customers will not be able to make the payment beyond the time specified here. We store timestamps in IST, but you can provide them in a valid ISO 8601 time format. Example 2021-07-02T10:20:12+05:30 for IST, 2021-07-02T10:20:12Z for UTC
          example: '2021-07-02T10:20:12+05:30'
        order_note:
          type: string
          description: Order note for reference.
          example: Test order
          minLength: 3
          maxLength: 200
        order_tags:
          $ref: '#/components/schemas/OrderTags'
        order_splits:
          type: array
          description: If you have Easy split enabled in your Cashfree account then you can use this option to split the order amount.
          items:
            $ref: '#/components/schemas/VendorSplit'
      required:
        - order_amount
        - order_currency
        - customer_details
    CreateRefundRequest:
      title: CreateRefundRequest
      example:
        refund_amount: 1
        refund_id: refund_00912
        refund_note: refund note for reference
        refund_speed: STANDARD or INSTANT
      type: object
      properties:
        refund_amount:
          type: number
          format: double
          description: Amount to be refunded. Should be lesser than or equal to the transaction amount. (Decimals allowed)
        refund_id:
          type: string
          description: An unique ID to associate the refund with. Provie alphanumeric values
          minLength: 3
          maxLength: 40
        refund_note:
          type: string
          description: A refund note for your reference.
          minLength: 3
          maxLength: 100
        refund_speed:
          type: string
          enum:
            - STANDARD
            - INSTANT
          description: Speed at which the refund is processed. It's an optional field with default being STANDARD
        refund_splits:
          type: array
          items:
            $ref: '#/components/schemas/VendorSplit'
      required:
        - refund_amount
        - refund_id
    CreateTerminalRequest:
      title: Create Terminal
      example:
        terminal_id: 1
        terminal_name: Jane Doe
        terminal_phone_no: 9876543210
        terminal_area: Bangalore
        terminal_note: POS Vertical
      type: object
      properties:
        terminal_id:
          type: string
          description: merchant’s internal terminal id
          minLength: 3
          maxLength: 100
        terminal_name:
          type: string
          description: terminal name to be assigned by merchants
          minLength: 3
          maxLength: 100
        terminal_phone_no:
          type: string
          description: phone number assigned to the terminal
          minLength: 10
          maxLength: 10
      required:
        - terminal_phone_no
        - terminal_name
    Cryptogram:
      type: object
      title: FetchCryptogram
      example:
        instrument_id: 54deabb4-ba45-4a60-9e6a-9c016fe7ab10
        token_requestor_id: '22457512314'
        card_number: '4491365621601472'
        card_expiry_mm: '06'
        card_expiry_yy: '2025'
        cryptogram: AQBBBBBBZatIlaIAmWKSghwBBBB=
        card_display: '1234'
      properties:
        instrument_id:
          type: string
          description: instrument_id of saved instrument
        token_requestor_id:
          type: string
          description: TRID issued by card networks
        card_number:
          type: string
          description: token pan number
        card_expiry_mm:
          type: string
          description: token pan expiry month
        card_expiry_yy:
          type: string
          description: token pan expiry year
        cryptogram:
          type: string
          description: cryptogram
        card_display:
          type: string
          description: last 4 digits of original card number
    CustomerDetails:
      title: CustomerDetails
      description: The customer details that are necessary. Note that you can pass dummy details if your use case does not require the customer details.
      example:
        customer_id: 7112AAA812234
        customer_email: john@cashfree.com
        customer_phone: '9908734801'
        customer_name: John Doe
        customer_bank_account_number: '1518121112'
        customer_bank_ifsc: XITI0000001
        customer_bank_code: 3333
      type: object
      properties:
        customer_id:
          type: string
          description: A unique identifier for the customer. Use alphanumeric values only.
          minLength: 3
          maxLength: 50
        customer_email:
          type: string
          description: Customer email address.
          minLength: 3
          maxLength: 100
        customer_phone:
          type: string
          description: Customer phone number.
          minLength: 10
          maxLength: 10
        customer_name:
          type: string
          description: Name of the customer.
          minLength: 3
          maxLength: 100
        customer_bank_account_number:
          type: string
          description: Customer bank account. Required if you want to do a bank account check (TPV)
          minLength: 3
          maxLength: 20
        customer_bank_ifsc:
          type: string
          description: Customer bank IFSC. Required if you want to do a bank account check (TPV)
        customer_bank_code:
          type: number
          description: Customer bank code. Required for net banking payments, if you want to do a bank account check (TPV)
      required:
        - customer_id
        - customer_phone
    CustomerDetailsCardlessEMI:
      title: CustomerDetailsObject
      description: Details of the customer for whom eligibility is being checked.
      type: object
      properties:
        customer_phone:
          type: string
          description: Phone Number of the customer
          minLength: 3
          maxLength: 50
          example: '9898989898'
      required:
        - customer_phone
    DiscountDetails:
      title: DiscountDetails
      example:
        discount_type: flat
        discount_value: '10'
        max_discount_amount: '10'
      type: object
      properties:
        discount_type:
          type: string
          description: Type of discount
          enum:
            - flat
            - percentage
          minLength: 3
          maxLength: 50
        discount_value:
          type: string
          description: Value of Discount.
          minLength: 1
          maxLength: 100
        max_discount_amount:
          type: string
          description: Maximum Value of Discount allowed.
          minLength: 1
          maxLength: 100
      required:
        - discount_type
        - discount_value
        - max_discount_amount
    EMIPlansArray:
      title: EMIPlansArray
      type: object
      properties:
        tenure:
          type: integer
          example: 3
        interest_rate:
          type: integer
          example: 24
        currency:
          type: string
          minLength: 3
          maxLength: 50
          example: INR
        emi:
          type: integer
          example: 3468
        total_interest:
          type: integer
          example: 404
        total_amount:
          type: integer
          example: 10404
    EligibilityCardlessEMIRequest:
      title: EligibilityCardlessEMIRequest
      type: object
      properties:
        queries:
          $ref: '#/components/schemas/CardlessEMIQueries'
      required:
        - queries
    EligibilityOffersRequest:
      title: EligibilityOffersRequest
      type: object
      properties:
        queries:
          $ref: '#/components/schemas/OfferQueries'
        filters:
          $ref: '#/components/schemas/OfferFilters'
      required:
        - queries
    EligibleCardlessEMIEntity:
      title: EligibleCardlessEMIEntity
      type: object
      properties:
        eligibility:
          type: string
          example: true
        entity_type:
          type: string
          example: cardlessemi
        entity_value:
          type: string
          example: idfc
        entity_details:
          $ref: '#/components/schemas/CardlessEMIEntity'
    EligibleOffersEntity:
      title: EligibleOffersEntity
      type: object
      properties:
        eligibility:
          type: string
          example: true
        entity_type:
          type: string
          example: offers
        entity_value:
          type: string
          example: d2b430fb-1afe-455a-af31-66d00377b29a
        entity_details:
          $ref: '#/components/schemas/OfferEntity'
    EligiblePaylater:
      title: EligiblePaylater
      type: object
      properties:
        eligibility:
          type: string
          example: true
        entity_type:
          type: string
          example: paylater
        entity_value:
          type: string
          example: olapostpaid
        entity_details:
          $ref: '#/components/schemas/PaylaterEntity'
    ErrorDetailsInPaymentsEntity:
      title: ErrorDetailsInPayments
      description: The error details are present only for failed payments
      example:
        error_code: TRANSACTION_DECLINED
        error_description: issuer bank or payment service provider declined the transaction
        error_reason: auth_declined
        error_source: customer
      type: object
      properties:
        error_code:
          type: string
        error_description:
          type: string
        error_reason:
          type: string
        error_source:
          type: string
    FetchAllSavedInstruments:
      type: object
      title: FetchAllSavedInstruments
      example:
        customer_id: siddhesh_desai
        afa_reference: 740324562
        instrument_id: 54deabb4-ba45-4a60-9e6a-9c016fe7ab10
        instrument_type: card
        instrument_uid: 0d8f70838cc5af8b1cd2bc0fe71278551fd3f1101e40020d89ad22ceba4f933c
        instrument_display: xxxxxxxxxxxx4375
        instrument_status: ACTIVE
        created_at: '2021-11-11 16:57:57'
        instrument_meta:
          card_network: VISA
          card_bank_name: HDFC Bank Limited
          card_country: IN
          card_type: DEBIT_CARD
          card_token_details: null
      properties:
        customer_id:
          type: string
          description: customer_id for which the instrument was saved
        afa_reference:
          type: integer
          description: cf_payment_id of the successful transaction done while saving instrument
        instrument_id:
          type: string
          description: saved instrument id
        instrument_type:
          type: string
          enum:
            - card
          description: Type of the saved instrument
        instrument_uid:
          type: string
          description: Unique id for the saved instrument
        instrument_display:
          type: string
          description: masked card number displayed to the customer
        instrument_status:
          type: string
          enum:
            - ACTIVE
            - INACTIVE
          description: Status of the saved instrument.
        created_at:
          type: string
          description: Timestamp at which instrument was saved.
        instrument_meta:
          $ref: '#/components/schemas/SavedInstrumentMeta'
    FetchPGRecon:
      type: object
      title: FetchPGRecon
      example:
        cursor: null
        limit: 9
        data:
          - cf_settlement_id: 45345
            settlement_date: '2022-08-16T14:45:24+05:30'
            sale_type: CREDIT
            event_amount: 3000
            amount_settled: 2796.46
            event_settlement_amount: 2800
            event_currency: INR
            payment_till: '2022-08-16T14:45:00+05:30'
            event_id: '45345'
            event_type: SETTLEMENT
            service_charge: 0
            service_tax: 0
            settlement_utr: PGI45345
            payment_from: '2022-08-16T14:14:55+05:30'
            settlement_initiated_on: '2022-08-16T14:45:24+05:30'
            adjustment: -200
            settlement_tax: 0.54
            event_time: '2022-08-16T14:45:07+05:30'
            settlement_charge: 3
            entity: recon
            remarks: Settled
            event_status: PAID
            settlement_type: INSTANT_SETTLEMENT
            payment_group: CREDIT_CARD
          - cf_settlement_id: 45356
            settlement_date: '2022-08-16T14:45:14+05:30'
            sale_type: CREDIT
            event_amount: 0
            amount_settled: 0
            event_settlement_amount: 0
            event_currency: INR
            payment_till: '2022-08-16T14:45:14+05:30'
            event_id: '45356'
            event_type: SETTLEMENT
            service_charge: 0
            service_tax: 0
            settlement_utr: ''
            payment_from: '2022-08-16T14:45:14+05:30'
            adjustment: 0
            settlement_tax: 0
            event_time: '2022-08-16T14:45:14+05:30'
            settlement_charge: 0
            entity: recon
            remarks: No eligible transactions to settle
            event_status: PAID
            settlement_type: INSTANT_SETTLEMENT
            payment_group: CREDIT_CARD
          - cf_settlement_id: 45373
            settlement_date: '2022-08-16T14:45:38+05:30'
            sale_type: CREDIT
            event_amount: 0
            amount_settled: 0
            event_settlement_amount: 0
            event_currency: INR
            payment_till: '2022-08-16T14:45:38+05:30'
            event_id: '45373'
            event_type: SETTLEMENT
            service_charge: 0
            service_tax: 0
            settlement_utr: ''
            payment_from: '2022-08-16T14:45:38+05:30'
            adjustment: 0
            settlement_tax: 0
            event_time: '2022-08-16T14:45:38+05:30'
            settlement_charge: 0
            entity: recon
            remarks: No eligible transactions to settle
            event_status: PAID
            settlement_type: INSTANT_SETTLEMENT
            payment_group: CREDIT_CARD
          - cf_settlement_id: 45406
            split_service_charge: 0
            sale_type: DEBIT
            event_amount: 3067.26
            payment_service_charge: 0
            event_settlement_amount: 3067.26
            event_type: DISPUTE
            order_amount: 3000
            payment_service_tax: 0
            closed_in_favor_of: MERCHANT
            dispute_resolved_on: '2022-08-16 14:53:15'
            event_status: CLOSED
            settlement_date: '2022-08-16T14:45:24+05:30'
            customer_phone: '8281554863'
            dispute_note: tesr
            event_currency: INR
            event_id: '272'
            settlement_utr: PGI45406
            customer_email: manideep.ellur@cashfree.com
            dispute_category: 1402-Duplicate Processing
            customer_name: Manideep
            split_service_tax: 0
            vendor_commission: 0
            order_id: order_1527072DQpGNwTMBlnAc1GfxmWalriHBG
            entity: recon
            event_time: '2022-08-16T14:52:55+05:30'
            payment_group: CREDIT_CARD
          - cf_settlement_id: 45406
            split_service_charge: 0
            sale_type: CREDIT
            event_amount: 3067.26
            payment_service_charge: 0
            event_settlement_amount: 3067.26
            event_type: DISPUTE_REVERSAL
            order_amount: 3000
            payment_service_tax: 0
            closed_in_favor_of: MERCHANT
            dispute_resolved_on: '2022-08-16 14:53:15'
            event_status: CLOSED
            settlement_date: '2022-08-16T14:45:24+05:30'
            customer_phone: '8281554863'
            dispute_note: tesr
            event_currency: INR
            event_id: '272'
            settlement_utr: PGI45406
            customer_email: manideep.ellur@cashfree.com
            dispute_category: 1402-Duplicate Processing
            customer_name: Manideep
            split_service_tax: 0
            vendor_commission: 0
            order_id: order_1527072DQpGNwTMBlnAc1GfxmWalriHBG
            entity: recon
            event_time: '2022-08-16T14:52:55+05:30'
            payment_group: CREDIT_CARD
          - cf_settlement_id: 45345
            event_id: '45345'
            event_type: OTHER_ADJUSTMENT
            sale_type: CREDIT
            event_amount: 3000
            adjustment_remarks: INSTANT_SETTLEMENT_COMPUTE
            event_currency: INR
            event_time: '2022-08-16T14:45:07+05:30'
            entity: recon
            event_settlement_amount: 3000
            payment_group: CREDIT_CARD
          - cf_settlement_id: 45345
            event_id: '45345'
            event_type: OTHER_ADJUSTMENT
            sale_type: DEBIT
            event_amount: 3
            adjustment_remarks: INSTANT_SETTLEMENT_CHARGE
            event_currency: INR
            event_time: '2022-08-16T14:45:21+05:30'
            entity: recon
            event_settlement_amount: 3
            payment_group: CREDIT_CARD
          - cf_settlement_id: 45345
            event_id: '45345'
            event_type: OTHER_ADJUSTMENT
            sale_type: DEBIT
            event_amount: 0.54
            adjustment_remarks: INSTANT_SETTLEMENT_TAX
            event_currency: INR
            event_time: '2022-08-16T14:45:21+05:30'
            entity: recon
            event_settlement_amount: 0.54
          - cf_settlement_id: 45345
            event_id: '45345'
            event_type: OTHER_ADJUSTMENT
            sale_type: DEBIT
            event_amount: 2796.46
            adjustment_remarks: INSTANT_SETTLEMENT_SWEEP
            event_currency: INR
            event_time: '2022-08-16T14:45:21+05:30'
            entity: recon
            event_settlement_amount: 2796.46
            payment_group: CREDIT_CARD
      properties:
        cursor:
          type: string
          description: Specifies from where the next set of settlement details should be fetched.
        limit:
          type: integer
          description: Number of settlements you want to fetch in the next iteration.
        data:
          type: array
          items:
            type: object
            properties:
              event_id:
                type: string
                description: Unique ID associated with the event.
              event_type:
                type: string
                description: The event type can be SETTLEMENT, PAYMENT, REFUND, REFUND_REVERSAL, DISPUTE, DISPUTE_REVERSAL, CHARGEBACK, CHARGEBACK_REVERSAL, OTHER_ADJUSTMENT.
              event_settlement_amount:
                type: number
                description: Amount that is part of the settlement corresponding to the event.
              event_amount:
                type: number
                description: Amount of the event. Example, refund amount, dispute amount, payment amount, etc.
              sale_type:
                type: string
                description: Indicates if it is CREDIT/DEBIT sale.
              event_status:
                type: string
                description: Status of the event. Example - SUCCESS, FAILED, PENDING, CANCELLED.
              entity:
                type: string
                description: Recon
              event_time:
                type: string
                description: Time associated with the event. Example, transaction time, dispute initiation time
              event_currency:
                type: string
                description: Curreny type - INR.
              order_id:
                type: string
                description: Unique order ID. Alphanumeric and only '-' and '_' allowed.
              order_amount:
                type: number
                description: The amount which was passed at the order creation time.
              customer_phone:
                type: string
                description: Customer phone number.
              customer_email:
                type: string
                description: Customer email.
              customer_name:
                type: string
                description: Customer name.
              payment_amount:
                type: number
                description: Payment amount captured.
              payment_utr:
                type: string
                description: Unique transaction reference number of the payment.
              payment_time:
                type: string
                description: Date and time when the payment was initiated.
              payment_service_charge:
                type: number
                description: Service charge applicable for the payment.
              payment_service_tax:
                type: number
                description: Service tax applicable on the payment.
              cf_payment_id:
                type: integer
                description: Cashfree Payments unique ID to identify a payment.
              cf_settlement_id:
                type: integer
                description: Unique ID to identify the settlement.
              settlement_date:
                type: string
                description: Date and time when the settlement was processed.
              settlement_utr:
                type: string
                description: Unique transaction reference number of the settlement.
              split_service_charge:
                type: number
                description: Service charge that is applicable for splitting the payment.
              split_service_tax:
                type: number
                description: Service tax applicable for splitting the amount to vendors.
              vendor_commission:
                type: number
                description: Vendor commission applicable for this transaction.
              closed_in_favor_of:
                type: string
                description: Specifies whether the dispute was closed in favor of the merchant or customer. /n Possible values - Merchant, Customer
              dispute_resolved_on:
                type: string
                description: Date and time when the dispute was resolved.
              dispute_category:
                type: string
                description: Category of the dispute - Dispute code and the reason for dispute is shown.
              dispute_note:
                type: string
                description: Note regarding the dispute.
              refund_processed_at:
                type: string
                description: Date and time when the refund was processed.
              refund_arn:
                type: string
                description: The bank reference number for the refund.
              refund_note:
                type: string
                description: A refund note for your reference.
              refund_id:
                type: string
                description: An unique ID to associate the refund with.
              adjustment_remarks:
                type: string
                description: Other adjustment remarks.
              adjustment:
                type: number
                description: Amount that is adjusted from the settlement amount because of any credit/debit event such as refund, refund_reverse etc.
              service_tax:
                type: number
                description: Service tax applicable on the settlement amount.
              service_charge:
                type: number
                description: Service charge applicable on the settlement amount.
              amount_settled:
                type: number
                description: Net amount that is settled after considering the adjustments, settlement charge and tax.
              payment_from:
                type: string
                description: The start time of the time range of the payments considered for the settlement.
              payment_till:
                type: string
                description: The end time of time range of the payments considered for the settlement.
              reason:
                type: string
                description: Reason for settlement failure.
              settlement_initiated_on:
                type: string
                description: Date and time when the settlement was initiated.
              settlement_type:
                type: string
                description: Type of settlement. Possible values - Standard, Instant, On demand.
              settlement_charge:
                type: number
                description: Settlement charges applicable on the settlement.
              settlement_tax:
                type: number
                description: Settlement tax applicable on the settlement.
              remarks:
                type: string
                description: Remarks on the settlement.
    FetchPGReconRequest:
      type: object
      example:
        pagination:
          limit: 10
          cursor: eyJzZWFyY2hBZnRlciI6eyJsaXN0IjpbMTg4NjcxNDVdLCJlbXB0eSI6ZmFsc2V9LCJyZWNvbkFQSVR5cGUiOiJMRURHRVIifQ==
        filters:
          start_date: '2022-07-20T00:00:00Z'
          end_date: '2022-07-21T23:59:59Z'
      properties:
        pagination:
          type: object
          properties:
            limit:
              type: integer
              description: Number of settlements you want to fetch in the next iteration. Maximum limit is 1000, default value is 10.
            cursor:
              type: string
              description: Specifies from where the next set of settlement details should be fetched.
          description: |-
            To fetch the next set of settlements, pass the cursor received in the response to the next API call. 
             To receive the data for the first time, pass the cursor as null. 
             Limit would be number of settlements that you want to receive.
          required:
            - limit
        filters:
          type: object
          properties:
            start_date:
              type: string
              description: Specify the start date from when you want the settlement reconciliation details.
            end_date:
              type: string
              description: Specify the end date till when you want the settlement reconciliation details.
          required:
            - start_date
            - end_date
      required:
        - pagination
        - filters
    FetchSettlement:
      title: FetchSettlement
      example:
        cursor: null
        pageSize: 1
        data:
          - event_type: SETTLEMENT
            status: PAID
            payment_amount: 2000
            cf_settlement_id: 18647
            settlement_utr: PGI18647
            settlement_date: '2022-07-12T19:31:02+05:30'
            adjustment: -1489.47
            service_charge: 140.36
            amount_settled: 367.98
            payment_from: '2022-07-12T19:09:42+05:30'
            payment_till: '2022-07-12T19:30:00+05:30'
            settlement_initiated_on: '2022-07-12T19:31:02+05:30'
            settlement_type: INSTANT_SETTLEMENT
            settlement_charge: 1.86
            settlement_tax: 0.33
            remarks: Settled
    FetchSettlementRecon:
      type: object
      title: FetchSettlementRecon
      example:
        cursor: null
        limit: 7
        data:
          - event_id: '43594'
            entity: recon
            event_type: REFUND
            sale_type: DEBIT
            event_time: '2022-08-16T15:06:41+05:30'
            event_settlement_amount: 200
            event_amount: 200
            event_status: SUCCESS
            event_currency: INR
            order_id: order_1527072DQpGNwTMBlnAc1GfxmWalriHBG
            customer_name: Manideep
            customer_phone: '8281554863'
            customer_email: manideep.ellur@cashfree.com
            cf_payment_id: 885472862
            payment_amount: 3067.26
            order_amount: 3000
            payment_time: '2022-08-16T14:41:06+05:30'
            payment_service_charge: 0
            payment_service_tax: 0
            payment_utr: '210396'
            cf_settlement_id: 45406
            vendor_commission: 0
            split_service_charge: 0
            split_service_tax: 0
            settlement_utr: PGI45406
            settlement_date: '2022-08-16T14:45:24+05:30'
            refund_note: nh
            refund_id: REF_bb406ef0-886b-4f96-8fef-ba0a15d901e6
            refund_arn: test
            refund_processed_at: '2022-08-16T15:06:41+05:30'
            payment_group: CREDIT_CARD
          - event_id: '43594'
            entity: recon
            event_type: REFUND_REVERSAL
            sale_type: DEBIT
            event_time: '2022-08-16T15:06:41+05:30'
            event_settlement_amount: 200
            event_amount: 200
            event_status: SUCCESS
            event_currency: INR
            order_id: order_1527072DQpGNwTMBlnAc1GfxmWalriHBG
            customer_name: Manideep
            customer_phone: '8281554863'
            customer_email: manideep.ellur@cashfree.com
            cf_payment_id: 885472862
            payment_amount: 3067.26
            order_amount: 3000
            payment_time: '2022-08-16T14:41:06+05:30'
            payment_service_charge: 0
            payment_service_tax: 0
            payment_utr: '210396'
            cf_settlement_id: 45406
            vendor_commission: 0
            split_service_charge: 0
            split_service_tax: 0
            settlement_utr: PGI45406
            settlement_date: '2022-08-16T14:45:24+05:30'
            refund_note: nh
            refund_id: REF_bb406ef0-886b-4f96-8fef-ba0a15d901e6
            refund_arn: test
            refund_processed_at: '2022-08-16T15:06:41+05:30'
            payment_group: CREDIT_CARD
          - event_id: '272'
            entity: recon
            event_type: DISPUTE
            sale_type: DEBIT
            event_time: '2022-08-16T14:52:55+05:30'
            event_settlement_amount: 3067.26
            event_amount: 3067.26
            event_status: CLOSED
            event_currency: INR
            order_id: order_1527072DQpGNwTMBlnAc1GfxmWalriHBG
            customer_name: Manideep
            customer_phone: '8281554863'
            customer_email: manideep.ellur@cashfree.com
            cf_payment_id: 885472862
            payment_amount: 3067.26
            order_amount: 3000
            payment_time: '2022-08-16T14:41:06+05:30'
            payment_service_charge: 0
            payment_service_tax: 0
            payment_utr: '210396'
            cf_settlement_id: 45406
            vendor_commission: 0
            split_service_charge: 0
            split_service_tax: 0
            settlement_utr: PGI45406
            settlement_date: '2022-08-16T14:45:24+05:30'
            closed_in_favor_of: MERCHANT
            dispute_category: 1402-Duplicate Processing
            dispute_note: tesr
            dispute_resolved_on: '2022-08-16 14:53:15'
            payment_group: CREDIT_CARD
          - event_id: '272'
            entity: recon
            event_type: DISPUTE_REVERSAL
            sale_type: CREDIT
            event_time: '2022-08-16T14:52:55+05:30'
            event_settlement_amount: 3067.26
            event_amount: 3067.26
            event_status: CLOSED
            event_currency: INR
            order_id: order_1527072DQpGNwTMBlnAc1GfxmWalriHBG
            customer_name: Manideep
            customer_phone: '8281554863'
            customer_email: manideep.ellur@cashfree.com
            cf_payment_id: 885472862
            payment_amount: 3067.26
            order_amount: 3000
            payment_time: '2022-08-16T14:41:06+05:30'
            payment_service_charge: 0
            payment_service_tax: 0
            payment_utr: '210396'
            cf_settlement_id: 45406
            vendor_commission: 0
            split_service_charge: 0
            split_service_tax: 0
            settlement_utr: PGI45406
            settlement_date: '2022-08-16T14:45:24+05:30'
            closed_in_favor_of: MERCHANT
            dispute_category: 1402-Duplicate Processing
            dispute_note: tesr
            dispute_resolved_on: '2022-08-16 14:53:15'
            payment_group: CREDIT_CARD
          - event_id: '885472982'
            entity: recon
            event_type: PAYMENT
            sale_type: CREDIT
            event_time: '2022-08-16T15:07:56+05:30'
            event_settlement_amount: 3000
            event_amount: 3067.26
            event_status: SUCCESS
            event_currency: INR
            order_id: order_1527072DQsWeQWtwlll6BhI3bt0Fluj81
            customer_name: Manideep
            customer_phone: '8281554863'
            customer_email: manideep.ellur@cashfree.com
            order_amount: 3000
            payment_service_charge: 0
            payment_service_tax: 0
            payment_utr: '572910'
            cf_settlement_id: 45406
            vendor_commission: 0
            split_service_charge: 0
            split_service_tax: 0
            settlement_utr: PGI45406
            settlement_date: '2022-08-16T15:08:51+05:30'
            payment_group: CREDIT_CARD
          - event_id: '45406'
            entity: recon
            event_type: OTHER_ADJUSTMENT
            sale_type: DEBIT
            event_time: '2022-08-16T15:08:48+05:30'
            event_settlement_amount: 3
            event_amount: 3
            event_currency: INR
            cf_settlement_id: 45406
            adjustment_remarks: INSTANT_SETTLEMENT_CHARGE
            payment_group: CREDIT_CARD
          - event_id: '45406'
            entity: recon
            event_type: OTHER_ADJUSTMENT
            sale_type: DEBIT
            event_time: '2022-08-16T15:08:48+05:30'
            event_settlement_amount: 0.54
            event_amount: 0.54
            event_currency: INR
            cf_settlement_id: 45406
            adjustment_remarks: INSTANT_SETTLEMENT_TAX
            payment_group: CREDIT_CARD
      properties:
        cursor:
          type: string
          description: Specifies from where the next set of settlement details should be fetched.
        limit:
          type: integer
          description: Number of settlements you want to fetch in the next iteration.
        data:
          type: array
          items:
            type: object
            properties:
              event_id:
                type: string
                description: Unique ID associated with the event.
              event_type:
                type: string
                description: The event type can be PAYMENT, REFUND, REFUND_REVERSAL, DISPUTE, DISPUTE_REVERSAL, CHARGEBACK, CHARGEBACK_REVERSAL, OTHER_ADJUSTMENT.
              event_settlement_amount:
                type: number
                description: Amount that is part of the settlement corresponding to the event.
              event_amount:
                type: number
                description: Amount corresponding to the event. Example, refund amount, dispute amount, payment amount, etc.
              sale_type:
                type: string
                description: Indicates if it is CREDIT/DEBIT sale.
              event_status:
                type: string
                description: Status of the event. Example - SUCCESS, FAILED, PENDING, CANCELLED.
              entity:
                type: string
                description: Recon
              event_time:
                type: string
                description: Time associated with the event. Example, transaction time, dispute initiation time
              event_currency:
                type: string
                description: Curreny type - INR.
              order_id:
                type: string
                description: Unique order ID. Alphanumeric and only '-' and '_' allowed.
              order_amount:
                type: number
                description: The amount which was passed at the order creation time.
              customer_phone:
                type: string
                description: Customer phone number.
              customer_email:
                type: string
                description: Customer email.
              customer_name:
                type: string
                description: Customer name.
              payment_amount:
                type: number
                description: Payment amount captured.
              payment_utr:
                type: string
                description: Unique transaction reference number of the payment.
              payment_time:
                type: string
                description: Date and time when the payment was initiated.
              payment_service_charge:
                type: number
                description: Service charge applicable for the payment.
              payment_service_tax:
                type: number
                description: Service tax applicable on the payment.
              cf_payment_id:
                type: integer
                description: Cashfree Payments unique ID to identify a payment.
              cf_settlement_id:
                type: integer
                description: Unique ID to identify the settlement.
              settlement_date:
                type: string
                description: Date and time when the settlement was processed.
              settlement_utr:
                type: string
                description: Unique transaction reference number of the settlement.
              split_service_charge:
                type: number
                description: Service charge that is applicable for splitting the payment.
              split_service_tax:
                type: number
                description: Service tax applicable for splitting the amount to vendors.
              vendor_commission:
                type: number
                description: Vendor commission applicable for this transaction.
              closed_in_favor_of:
                type: string
                description: Specifies whether the dispute was closed in favor of the merchant or customer. Possible values - Merchant, Customer.
              dispute_resolved_on:
                type: string
                description: Date and time when the dispute was resolved.
              dispute_category:
                type: string
                description: Category of the dispute - Dispute code and the reason for dispute is shown.
              dispute_note:
                type: string
                description: Note regarding the dispute.
              refund_processed_at:
                type: string
                description: Date and time when the refund was processed.
              refund_arn:
                type: string
                description: The bank reference number for refund.
              refund_note:
                type: string
                description: A refund note for your reference.
              refund_id:
                type: string
                description: An unique ID associated with the refund.
              adjustment_remarks:
                type: string
                description: Other adjustment remarks.
    FetchSettlementReconRequest:
      type: object
      example:
        pagination:
          limit: 10
          cursor: eyJzZWFyY2hBZnRlciI6eyJsaXN0IjpbMTg4NjcxNDVdLCJlbXB0eSI6ZmFsc2V9LCJyZWNvbkFQSVR5cGUiOiJMRURHRVIifQ==
        filters:
          cf_settlement_ids:
            - 4234233
          settlement_utrs:
            - utr1
            - utr2
          start_date: '2022-07-20T00:00:00Z'
          end_date: '2022-07-21T23:59:59Z'
      properties:
        pagination:
          type: object
          properties:
            limit:
              type: integer
              description: The number of settlements you want to fetch. Maximum limit is 1000, default value is 10.
            cursor:
              type: string
              description: Specifies from where the next set of settlement details should be fetched.
          description: |-
            To fetch the next set of settlements, pass the cursor received in the response to the next API call. 
             To receive the data for the first time, pass the cursor as null. 
             Limit would be number of settlements that you want to receive.
          required:
            - limit
        filters:
          type: object
          properties:
            cf_settlement_ids:
              type: array
              items:
                type: integer
              description: List of settlement IDs for which you want the settlement reconciliation details.
            settlement_utrs:
              type: array
              items:
                type: string
              description: List of settlement UTRs for which you want the settlement reconciliation details.
            start_date:
              type: string
              description: Specify the start date from when you want the settlement reconciliation details.
            end_date:
              type: string
              description: Specify the end date till when you want the settlement reconciliation details.
          description: Specify either the Settlement ID, Settlement UTR, or start date and end date to fetch the settlement details.
      required:
        - pagination
        - filters
    IdempotencyError:
      title: IdempotencyError
      example:
        message: something is not found
        code: request_invalid
        type: idempotency_error
      type: object
      properties:
        message:
          type: string
        code:
          type: string
        type:
          type: string
          enum:
            - idempotency_error
          description: idempotency_error
    LinkCancelledResponse:
      title: LinkCancelledResponse
      type: object
      example:
        cf_link_id: 1996567
        link_id: my_link_id
        link_status: CANCELLED
        link_currency: INR
        link_amount: 100
        link_amount_paid: 0
        link_partial_payments: false
        link_minimum_partial_amount: 0
        link_purpose: Payment for PlayStation 11
        link_created_at: '2021-09-30T17:05:01+05:30'
        customer_details:
          $ref: '#/components/schemas/LinkCustomerDetailsEntity'
        link_meta:
          $ref: '#/components/schemas/LinkMetaEntity'
        link_url: https://payments-test.cashfree.com/links/o1tf1nvcvjhg
        link_expiry_time: '2021-10-14T15:04:05+05:30'
        link_notes:
          $ref: '#/components/schemas/LinkNotesEntity'
        link_auto_reminders: true
        link_notify:
          $ref: '#/components/schemas/LinkNotifyEntity'
      properties:
        cf_link_id:
          type: integer
        link_id:
          type: string
        link_status:
          type: string
        link_currency:
          type: string
        link_amount:
          type: number
        link_amount_paid:
          type: number
        link_partial_payments:
          type: boolean
        link_minimum_partial_amount:
          type: number
        link_purpose:
          type: string
        link_created_at:
          type: string
        customer_details:
          $ref: '#/components/schemas/LinkCustomerDetailsEntity'
        link_meta:
          $ref: '#/components/schemas/LinkMetaEntity'
        link_url:
          type: string
        link_expiry_time:
          type: string
        link_notes:
          $ref: '#/components/schemas/LinkNotesEntity'
        link_auto_reminders:
          type: boolean
        link_notify:
          $ref: '#/components/schemas/LinkNotifyEntity'
    LinkCustomerDetailsEntity:
      title: customer_details
      type: object
      example:
        customer_name: John Doe
        customer_phone: '9999999999'
        customer_email: john@cashfree.com
      properties:
        customer_phone:
          type: string
          description: Customer phone number
        customer_email:
          type: string
          description: Customer email address
        customer_name:
          type: string
          description: Customer name
      required:
        - customer_phone
    LinkMetaEntity:
      title: link_meta
      type: object
      example:
        notify_url: https://ee08e626ecd88c61c85f5c69c0418cb5.m.pipedream.net
        upi_intent: false
        return_url: https://b8af79f41056.eu.ngrok.io
      properties:
        notify_url:
          type: string
          description: Notification URL for server-server communication. It should be an https URL.
        upi_intent:
          type: boolean
          description: If "true", link will directly open UPI Intent flow on mobile, and normal link flow elsewhere
        return_url:
          type: string
          description: 'The URL to which user will be redirected to after the payment is done on the link. Maximum length: 250.'
        payment_methods:
          type: string
          description: Allowed payment modes for this link. Pass comma-separated values among following options - "cc", "dc", "ccc", "ppc", "nb", "upi", "paypal", "app". Leave it blank to show all available payment methods
    LinkNotesEntity:
      title: link_notes
      type: object
      description: Key-value pair that can be used to store additional information about the entity. Maximum 5 key-value pairs
      example:
        key_1: value_1
        key_2: value_2
      additionalProperties:
        type: string
    LinkNotifyEntity:
      title: link_notify
      type: object
      example:
        send_sms: false
        send_email: true
      properties:
        send_sms:
          type: boolean
          description: If "true", Cashfree will send sms on customer_phone
        send_email:
          type: boolean
          description: If "true", Cashfree will send email on customer_email
    LinkOrdersResponse:
      title: LinkOrdersResponse
      type: object
      example:
        cf_order_id: 2305826
        customer_details:
          $ref: '#/components/schemas/LinkCustomerDetailsEntity'
        entity: order
        link_id: get_order_trial_1
        order_amount: 10.12
        order_currency: INR
        order_expiry_time: '2022-04-01T16:29:09+05:30'
        order_id: order_271vovQ3PTZAx3fDI0xtZbC4jkPET
        order_note: payment_link_2011690
        order_status: PAID
        order_token: 79byj5123g6912mki3
        payments:
          $ref: '#/components/schemas/PaymentURLObject'
        refunds:
          $ref: '#/components/schemas/RefundURLObject'
        settlements:
          $ref: '#/components/schemas/SettlementURLObject'
      properties:
        cf_order_id:
          type: integer
        order_id:
          type: string
        entity:
          type: string
        order_currency:
          type: string
        order_amount:
          type: number
        order_status:
          type: string
        order_token:
          type: string
        order_expiry_time:
          type: string
        order_note:
          type: string
        customer_details:
          $ref: '#/components/schemas/LinkCustomerDetailsEntity'
        payments:
          $ref: '#/components/schemas/PaymentURLObject'
        settlements:
          $ref: '#/components/schemas/SettlementURLObject'
        refunds:
          $ref: '#/components/schemas/RefundURLObject'
    LinkResponse:
      title: LinkCreationResponse
      type: object
      example:
        cf_link_id: 1996567
        link_id: my_link_id
        link_status: ACTIVE
        link_currency: INR
        link_amount: 100
        link_amount_paid: 0
        link_partial_payments: true
        link_minimum_partial_amount: 20
        link_purpose: Payment for PlayStation 11
        link_created_at: '2021-09-30T17:05:01+05:30'
        customer_details:
          $ref: '#/components/schemas/LinkCustomerDetailsEntity'
        link_meta:
          $ref: '#/components/schemas/LinkMetaEntity'
        link_url: https://payments-test.cashfree.com/links/o1tf1nvcvjhg
        link_expiry_time: '2021-10-14T15:04:05+05:30'
        link_notes:
          $ref: '#/components/schemas/LinkNotesEntity'
        link_auto_reminders: true
        link_notify:
          $ref: '#/components/schemas/LinkNotifyEntity'
      properties:
        cf_link_id:
          type: integer
        link_id:
          type: string
        link_status:
          type: string
        link_currency:
          type: string
        link_amount:
          type: number
        link_amount_paid:
          type: number
        link_partial_payments:
          type: boolean
        link_minimum_partial_amount:
          type: number
        link_purpose:
          type: string
        link_created_at:
          type: string
        customer_details:
          $ref: '#/components/schemas/LinkCustomerDetailsEntity'
        link_meta:
          $ref: '#/components/schemas/LinkMetaEntity'
        link_url:
          type: string
        link_expiry_time:
          type: string
        link_notes:
          $ref: '#/components/schemas/LinkNotesEntity'
        link_auto_reminders:
          type: boolean
        link_notify:
          $ref: '#/components/schemas/LinkNotifyEntity'
    NetBankingPaymentMethod:
      title: NetBankingPaymentMethod
      example:
        netbanking:
          channel: link
          netbanking_bank_code: 3022
      type: object
      properties:
        netbanking:
          $ref: '#/components/schemas/Netbanking'
      required:
        - netbanking
    Netbanking:
      title: Netbanking
      example:
        channel: link
        netbanking_bank_code: 3022
      type: object
      properties:
        channel:
          type: string
          description: The channel for netbanking will always be `link`
        netbanking_bank_code:
          type: integer
          format: int32
          description: Bank code
      required:
        - channel
        - netbanking_bank_code
    OTPRequest:
      title: OTPRequest
      type: object
      required:
        - otp
        - action
      properties:
        otp:
          type: string
          description: OTP to be submitted
        action:
          type: string
          enum:
            - SUBMIT_OTP
            - RESEND_OTP
          description: The action for this workflow. Could be either SUBMIT_OTP or RESEND_OTP
    OTPResponseEntity:
      type: object
      title: OTP Response Entity
      description: This is the response shared when merchant inovkes the OTP submit or resend API
      example:
        cf_payment_id: 975654863
        authenticate_status: FAILED
        action: SUBMIT_OTP
        payment_message: otp is invalid
      properties:
        cf_payment_id:
          type: number
          description: The payment id for which this request was sent
        action:
          type: string
          enum:
            - SUBMIT_OTP
            - RESEND_OTP
          description: The action that was invoked for this request.
        authenticate_status:
          type: string
          enum:
            - FAILED
            - SUCCESS
          description: Status of the is action. Will be either failed or successful. If the action is successful, you should still call the authorization status to verify the final payment status.
        payment_message:
          type: string
          description: Human readable message which describes the status in more detail
    OfferAll:
      title: All Offers
      example:
        all: {}
      type: object
      properties:
        all:
          $ref: '#/components/schemas/AllOffers'
      required:
        - all
    OfferCard:
      title: Card Offer
      example:
        card:
          type: cc
          bank_name: hdfc bank
          scheme_name: visa
      type: object
      properties:
        card:
          title: Card Offer
          type: object
          properties:
            type:
              type: array
              items:
                $ref: '#/components/schemas/CardArray'
            bank_name:
              type: string
              description: Bank Name of Card.
              minLength: 3
              maxLength: 100
              example: hdfc bank
            scheme_name:
              type: array
              items:
                $ref: '#/components/schemas/SchemeArray'
          required:
            - type
            - bank_name
            - scheme_name
      required:
        - card
    OfferDetails:
      title: OfferDetails
      type: object
      properties:
        offer_type:
          type: string
          description: Offer Type for the Offer.
          enum:
            - DISCOUNT
            - CASHBACK
            - DISCOUNT_AND_CASHBACK
            - NO_COST_EMI
          minLength: 3
          maxLength: 50
          example: DISCOUNT_AND_CASHBACK
        discount_details:
          $ref: '#/components/schemas/DiscountDetails'
        cashback_details:
          $ref: '#/components/schemas/CashbackDetails'
      required:
        - offer_type
    OfferEMI:
      title: EMI Offer
      type: object
      example:
        emi:
          type: cardless_emi
          issuer: hdfc bank
          tenures:
            - 3
            - 6
      properties:
        emi:
          title: EMI Offer
          type: object
          properties:
            type:
              type: string
              description: Type of emi offer. Possible values are `credit_card_emi`, `debit_card_emi`, `cardless_emi`
              minLength: 3
              maxLength: 100
              example: cardless_emi
            issuer:
              type: string
              description: Bank Name
              minLength: 3
              maxLength: 100
              example: hdfc bank
            tenures:
              type: array
              items:
                title: Tenure Array
                type: integer
                example: 3
          required:
            - type
            - issuer
            - tenures
      required:
        - emi
    OfferEntity:
      title: OfferEntity
      type: object
      properties:
        offer_id:
          type: integer
          example: d2b430fb-1afe-455a-af31-66d00377b29a
        offer_status:
          type: string
          example: active
        offer_meta:
          $ref: '#/components/schemas/OfferMeta'
        offer_tnc:
          $ref: '#/components/schemas/OfferTnc'
        offer_details:
          $ref: '#/components/schemas/OfferDetails'
        offer_validations:
          $ref: '#/components/schemas/OfferValidations'
    OfferFilters:
      title: OfferFilters
      type: object
      properties:
        offer_type:
          type: array
          description: Array of offer_type to be filtered.
          items:
            $ref: '#/components/schemas/OfferType'
    OfferMeta:
      title: OfferMeta
      type: object
      properties:
        offer_title:
          type: string
          description: Title for the Offer.
          minLength: 3
          maxLength: 50
          example: Test Offer
        offer_description:
          type: string
          description: Description for the Offer.
          minLength: 3
          maxLength: 100
          example: Lorem ipsum dolor sit amet, consectetur adipiscing elit
        offer_code:
          type: string
          description: Unique identifier for the Offer.
          minLength: 1
          maxLength: 45
          example: CFTESTOFFER
        offer_start_time:
          type: string
          description: Start Time for the Offer
          minLength: 3
          maxLength: 20
          example: '2023-03-21T08:09:51Z'
        offer_end_time:
          type: string
          description: Expiry Time for the Offer
          example: '2023-03-29T08:09:51Z'
      required:
        - offer_title
        - offer_description
        - offer_code
        - offer_start_time
        - offer_end_time
    OfferNB:
      title: Net Banking Offer
      example:
        netbanking:
          bank_name: hdfc bank
      type: object
      properties:
        netbanking:
          type: object
          properties:
            bank_name:
              type: string
              example: all
      required:
        - netbanking
    OfferPaylater:
      title: Paylater Offer
      example:
        paylater:
          issuer: lazypay
      type: object
      properties:
        paylater:
          title: Paylater Offer
          type: object
          properties:
            provider:
              type: string
              example: simpl
      required:
        - paylater
    OfferQueries:
      title: OfferQueries
      type: object
      properties:
        order_id:
          type: string
          description: OrderId of the order. Either of `order_id` or `order_amount` is mandatory.
          minLength: 3
          maxLength: 50
          format: double
          example: order_413462PK1RI1IwYB1X69LgzUQWiSxYDF
        amount:
          type: number
          description: Amount of the order. OrderId of the order. Either of `order_id` or `order_amount` is mandatory.
          minLength: 3
          maxLength: 100
          example: 100
    OfferTnc:
      title: OfferMeta
      type: object
      properties:
        offer_tnc_type:
          type: string
          description: TnC Type for the Offer. It can be either `text` or `link`
          enum:
            - text
            - link
          minLength: 3
          maxLength: 50
          example: text
        offer_tnc_value:
          type: string
          description: TnC for the Offer.
          minLength: 3
          maxLength: 100
          example: Lorem ipsum dolor sit amet, consectetur adipiscing elit
      required:
        - offer_tnc_type
        - offer_tnc_value
    OfferType:
      title: OfferType
      type: string
      enum:
        - DISCOUNT
        - CASHBACK
        - DISCOUNT_AND_CASHBACK
        - NO_COST_EMI
    OfferUPI:
      title: UPI Offer
      example:
        upi: {}
      type: object
      properties:
        upi:
          title: UPI Offer
          type: object
      required:
        - upi
    OfferValidations:
      title: OfferValidations
      type: object
      properties:
        min_amount:
          type: number
          description: Minimum Amount for Offer to be Applicable
          minLength: 3
          maxLength: 50
          example: 1
        payment_method:
          oneOf:
            - $ref: '#/components/schemas/OfferAll'
            - $ref: '#/components/schemas/OfferCard'
            - $ref: '#/components/schemas/OfferNB'
            - $ref: '#/components/schemas/OfferWallet'
            - $ref: '#/components/schemas/OfferUPI'
            - $ref: '#/components/schemas/OfferPaylater'
            - $ref: '#/components/schemas/OfferEMI'
        max_allowed:
          type: number
          description: Maximum amount of Offer that can be availed.
          minLength: 1
          maxLength: 100
          example: 10
      required:
        - max_allowed
        - payment_method
    OfferWallet:
      title: Wallet Offer
      example:
        wallet:
          issuer: paytm
      type: object
      properties:
        app:
          title: Wallet Offer
          type: object
          properties:
            provider:
              type: string
              example: paytm
      required:
        - wallet
    OrderMeta:
      title: OrderMeta
      description: Optional meta details to control how the customer pays and how payment journey completes
      example:
        return_url: https://b8af79f41056.eu.ngrok.io?order_id={order_id}
        notify_url: https://b8af79f41056.eu.ngrok.io/webhook.php
      type: object
      properties:
        return_url:
          type: string
          description: 'The URL to which user will be redirected to after the payment on bank OTP page. Maximum length: 250. The return_url must contain placeholder {order_id}. When redirecting the customer back to the return url from the bank’s OTP page, Cashfree will replace this placeholder with the actual value for that order.'
        notify_url:
          type: string
          description: 'Notification URL for server-server communication. Useful when user''s connection drops while re-directing. NotifyUrl should be an https URL. Maximum length: 250.'
        payment_methods:
          type: string
          description: Allowed payment modes for this order. Pass comma-separated values among following options - "cc", "dc", "ccc", "ppc","nb","upi","paypal","app","paylater","cardlessemi","dcemi","ccemi","banktransfer". Leave it blank to show all available payment methods
    OrderPayData:
      title: OrderPayData
      type: object
      example:
        url: https://examplebank.com/sendTo/897?q
        payload:
          MD: 89811231231
          PaReq: 89123l1j2l3j1ljkkl=
        content_type: application/x-www-form-encoded
        method: post
      properties:
        url:
          type: string
          nullable: true
        payload:
          nullable: true
          type: object
        content_type:
          type: string
        method:
          type: string
    OrderPayRequest:
      title: OrderPayRequest
      type: object
      properties:
        payment_session_id:
          type: string
          example: session__CvcEmNKDkmERQrxnx39ibhJ3Ii034pjc8ZVxf3qcgEXCWlgDDlHRgz2XYZCqpajDQSXMMtCusPgOIxYP2LZx0-05p39gC2Vgmq1RAj--gcn
        payment_method:
          oneOf:
            - $ref: '#/components/schemas/CardPaymentMethod'
            - $ref: '#/components/schemas/UPIPaymentMethod'
            - $ref: '#/components/schemas/NetBankingPaymentMethod'
            - $ref: '#/components/schemas/AppPaymentMethod'
            - $ref: '#/components/schemas/CardEMIPaymentMethod'
            - $ref: '#/components/schemas/CardlessEMIPaymentMethod'
            - $ref: '#/components/schemas/PaylaterPaymentMethod'
        save_instrument:
          type: boolean
        offer_id:
          type: string
          description: This is required if any offers needs to be applied to the order.
          example: faa6cc05-d1e2-401c-b0cf-0c9db3ff0f0b
      required:
        - payment_session_id
        - payment_method
    OrderPayResponse:
      title: OrderPayResponse
      type: object
      example:
        payment_method: card
        channel: link
        action: link
        cf_payment_id: 91235
        data:
          url: https://sandbox.cashfree.com/pg/view/gateway/FHsuvhayLM5mmhINoqri7ba296e2ebca8b98e6119f6223021a13
          payload: null
          content_type: null
          method: null
      properties:
        cf_payment_id:
          type: integer
          description: Payment identifier created by Cashfree
        payment_method:
          type: string
          enum:
            - netbanking
            - card
            - upi
            - app
            - cardless_emi
            - paylater
          description: 'One of ["upi", "netbanking", "card", "app", "cardless_emi", "paylater"] '
        channel:
          type: string
          enum:
            - link
            - collect
            - qrcode
            - post
          description: One of ["link", "collect", "qrcode"]. In an older version we used to support different channels like 'gpay', 'phonepe' etc. However, we now support only the following channels - link, collect and qrcode. To process payments using gpay, you will have to provide channel as 'link' and provider as 'gpay'
        action:
          type: string
          enum:
            - link
            - custom
            - form
            - post
          description: One of ["link", "custom", "form"]
        data:
          $ref: '#/components/schemas/OrderPayData'
    OrderTags:
      type: object
      maxProperties: 15
      description: Custom Tags in thr form of {"key":"value"} which can be passed for an order. A maximum of 10 tags can be added
      additionalProperties:
        type: string
        minLength: 1
        maxLength: 255
      example:
        product: Laptop
        shipping_address: 123 Main St
    OrdersEntity:
      title: OrdersEntity
      type: object
      example:
        cf_order_id: 2149460581
        created_at: '2023-08-11T18:02:46+05:30'
        customer_details:
          customer_id: '409128494'
          customer_name: null
          customer_email: pmlpayme@ntsas.com
          customer_phone: '9876543210'
        entity: order
        order_amount: 22
        order_currency: INR
        order_expiry_time: '2023-09-09T18:02:46+05:30'
        order_id: order_3242Tq4Edj9CC5RDcMeobmJOWOBJij
        order_meta:
          return_url: null
          notify_url: null
          payment_methods: null
        order_note: null
        order_splits: []
        order_status: ACTIVE
        order_tags: null
        payment_session_id: session_a1VXIPJo8kh7IBigVXX8LgTMupQW_cu25FS8KwLwQLOmiHqbBxq5UhEilrhbDSKKHA6UAuOj9506aaHNlFAHEqYrHSEl9AVtYQN9LIIc4vkH
        payments:
          url: https://sandbox.cashfree.com/pg/orders/order_3242Tq4Edj9CC5RDcMeobmJOWOBJij/payments
        refunds:
          url: https://sandbox.cashfree.com/pg/orders/order_3242Tq4Edj9CC5RDcMeobmJOWOBJij/refunds
        settlements:
          url: https://sandbox.cashfree.com/pg/orders/order_3242Tq4Edj9CC5RDcMeobmJOWOBJij/settlements
        terminal_data: null
      properties:
        cf_order_id:
          type: integer
          description: unique id generated by cashfree for your order
        order_id:
          type: string
          description: order_id sent during the api request
        entity:
          type: string
          description: Type of the entity.
        order_currency:
          type: string
          description: Currency of the order. Example INR
        order_amount:
          type: number
        order_status:
          type: string
          description: |
            Possible values are 
            - `ACTIVE`: Order does not have a sucessful transaction yet
            - `PAID`: Order is PAID with one successful transaction
            - `EXPIRED`: Order was not PAID and not it has expired. No transaction can be initiated for an EXPIRED order.
        payment_session_id:
          type: string
        order_expiry_time:
          type: string
          format: date-time
        order_note:
          type: string
          description: Additional note for order
        created_at:
          type: string
          format: date-time
          description: When the order was created at cashfree's server
          example: '2022-08-16T14:45:38+05:30'
        customer_details:
          $ref: '#/components/schemas/CustomerDetails'
        order_meta:
          $ref: '#/components/schemas/OrderMeta'
        payments:
          $ref: '#/components/schemas/PaymentURLObject'
        settlements:
          $ref: '#/components/schemas/SettlementURLObject'
        refunds:
          $ref: '#/components/schemas/RefundURLObject'
        order_tags:
          $ref: '#/components/schemas/OrderTags'
    Paylater:
      title: Paylater
      example:
        channel: link
        provider: kotak
        phone: 7789112345
      type: object
      properties:
        channel:
          type: string
          description: The channel for cardless EMI is always `link`
        provider:
          type: string
          enum:
            - kotak
            - flexipay
            - zestmoney
            - lazypay
            - olapostpaid
            - simpl
            - freechargepaylater
          description: One of ["kotak", "flexipay", "zestmoney", "lazypay", "olapostpaid","simpl", "freechargepaylater"]. Please note that Flexipay is offered by HDFC bank
        phone:
          type: string
          description: Customers phone number for this payment instrument. If the customer is not eligible you will receive a 400 error with type as 'invalid_request_error' and code as 'invalid_request_error'
    PaylaterEntity:
      title: PaylaterEntity
      type: object
      properties:
        payment_method:
          type: string
          example: olapostpaid
    PaylaterPaymentMethod:
      title: PaylaterPaymentMethod
      example:
        channel: link
        provider: lazypay
        phone: 781234121
      type: object
      properties:
        paylater:
          $ref: '#/components/schemas/Paylater'
      required:
        - paylater
    PaymentMethodAppInPaymentsEntity:
      title: PaymentMethodAppInPaymentsEntity
      example:
        channel: link
        provider: paytm
        phone: 1234512345
      type: object
      properties:
        channel:
          type: string
        provider:
          type: string
        phone:
          type: string
    PaymentMethodCardInPaymentsEntity:
      title: PaymentMethodCardInPaymentsEntity
      example:
        channel: link
        card_number: 41111xxxxxx111
        card_network: visa
        card_type: credit_card
        card_country: IN
        card_bank_name: HDFC Bank
        card_network_reference_id: 1.002120230612e+29
      type: object
      properties:
        channel:
          type: string
        card_number:
          type: string
        card_network:
          type: string
        card_type:
          type: string
        card_country:
          type: string
        card_bank_name:
          type: string
        card_network_reference_id:
          type: string
    PaymentMethodCardlessEMIInPaymentsEntity:
      title: PaymentMethodCardlessEMIInPaymentsEntity
      example:
        channel: link
        provider: flexmoney
        phone: 9908761211
      type: object
      properties:
        channel:
          type: string
        provider:
          type: string
        phone:
          type: string
    PaymentMethodInPaymentsEntity:
      type: object
      title: PaymentMethodInPaymentsEntity
      properties:
        payment_method:
          oneOf:
            - $ref: '#/components/schemas/PaymentMethodCardInPaymentsEntity'
            - $ref: '#/components/schemas/PaymentMethodNetBankingInPaymentsEntity'
            - $ref: '#/components/schemas/PaymentMethodUPIInPaymentsEntity'
            - $ref: '#/components/schemas/PaymentMethodAppInPaymentsEntity'
            - $ref: '#/components/schemas/PaymentMethodCardlessEMIInPaymentsEntity'
            - $ref: '#/components/schemas/PaymentMethodPaylaterInPaymentsEntity'
    PaymentMethodNetBankingInPaymentsEntity:
      title: PaymentMethodNetBankingInPaymentsEntity
      example:
        channel: link
        netbanking_bank_code: 3044
        netbanking_bank_name: State Bank of India
      type: object
      properties:
        channel:
          type: string
        netbanking_bank_code:
          type: string
        netbanking_bank_name:
          type: string
      required:
        - channel
        - netbanking_bank_name
        - netbanking_bank_code
    PaymentMethodPaylaterInPaymentsEntity:
      title: PaymentMethodPaylaterInPaymentsEntity
      example:
        channel: link
        provider: lazypay
        phone: 9908761211
      type: object
      properties:
        channel:
          type: string
        provider:
          type: string
        phone:
          type: string
    PaymentMethodUPIInPaymentsEntity:
      title: PaymentMethodUPIInPaymentsEntity
      example:
        channel: collect
        upi_id: 980123781@upi
      type: object
      properties:
        channel:
          type: string
        upi_id:
          type: string
      required:
        - channel
    PaymentSuccessWebhook:
      title: PaymentSuccessWebhook
      type: object
      properties:
        data:
          $ref: '#/components/schemas/WHdata'
        event_time:
          type: string
          example: '2021-10-07T19:42:44+05:30'
        type:
          type: string
          example: PAYMENT_SUCCESS_WEBHOOK
    PaymentURLObject:
      title: PaymentURLObject
      type: object
      properties:
        url:
          type: string
          example: https://sandbox.cashfree.com/pg/orders/order_271vovQ3PTZAx3fDI0xtZbC4jkPET/payments
    PaymentsEntity:
      title: PaymentsEntity
      type: object
      example:
        cf_payment_id: 12376123
        order_id: order_8123
        entity: payment
        payment_currency: INR
        order_amount: 10.01
        is_captured: true
        payment_group: upi
        authorization: null
        payment_method:
          upi:
            channel: collect
            upi_id: rohit@icici
        payment_amount: 10.01
        payment_time: '2021-07-23T12:15:06+05:30'
        payment_completion_time: '2021-07-23T12:18:59+05:30'
        payment_status: SUCCESS
        payment_message: Transaction successful
        bank_reference: P78112898712
        auth_id: A898101
      properties:
        cf_payment_id:
          type: integer
        order_id:
          type: string
        entity:
          type: string
        error_details:
          $ref: '#/components/schemas/ErrorDetailsInPaymentsEntity'
        is_captured:
          type: boolean
        order_amount:
          type: number
          description: Order amount can be different from payment amount if you collect service fee from the customer
        payment_group:
          type: string
          description: Type of payment group. One of ['upi', 'card', 'app', 'netbanking', 'paylater', 'cardless_emi']
        payment_currency:
          type: string
        payment_amount:
          type: number
        payment_time:
          type: string
          description: This is the time when the payment was initiated
        payment_completion_time:
          type: string
          description: This is the time when the payment reaches its terminal state
        payment_status:
          type: string
          enum:
            - SUCCESS
            - NOT_ATTEMPTED
            - FAILED
            - USER_DROPPED
            - VOID
            - CANCELLED
            - PENDING
          description: The transaction status can be one of  ["SUCCESS", "NOT_ATTEMPTED", "FAILED", "USER_DROPPED", "VOID", "CANCELLED", "PENDING"]
        payment_message:
          type: string
        bank_reference:
          type: string
        auth_id:
          type: string
        authorization:
          $ref: '#/components/schemas/AuthorizationInPaymentsEntity'
        payment_method:
[...]
